PORT=4000
FIREBASE_PROJECT_ID="atapcafe-7909e"
FIREBASE_SERVICE_ACCOUNT_PATH="./serviceAccountKey.json"
STORAGE_BUCKET="atapcafe-7909e.firebasestorage.app"
FUNCTION_REGION="asia-southeast2"
ADMIN_AUTH_SECRET="change-this-secret"
