NEXT_PUBLIC_API_URL="https://api-oemrkqzxdq-et.a.run.app"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="isi-client-key-midtrans-sandbox"
NEXT_PUBLIC_MIDTRANS_SNAP_URL="https://app.sandbox.midtrans.com/snap/snap.js"
